html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #009591;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.navbar-default{
    border: none;
    background-color: #434343;
}

#searchForm > .li{
    color: #ff7060;
}

#searchForm i{
    color: #ff7060;
}


.banner {
    height:200px;
    margin:auto;
    background: url("../img/book.png") repeat 0 0;
    background-position: center center;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: -12px;


}

.banner p {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 50px;
    color:#2AAC86;
    position:relative;
    top:60px;
    width:700px;
    padding:20px;
    background:#AEEDD7;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:20px;
    filter: alpha(opacity=50);
    opacity: 0.65;
    border-radius: 30px;
}

#login-button{

    background-color: #E9E9E9;
    margin-left: 10px;
}

#signup-button{
    background-color: #E9E9E9;
    margin-left: 10px;
}


#logindropdown{

    width: 300px;
}

/* colours 
#009591 blueish
#ff7060 orangy
#434343 dark
*/
.custombutton{
    background-color: #434343;
    color: #ff7060;
    margin-top: 10px;
 
}



#openCategories{


    background-color: #E9E9E9;
    
}

#postButton{

    background-color: #E9E9E9;

}

.navbar-brand{
    padding-left: 200px;
}




footer{
position:fixed;
    height:25px;
    background-color:#434343;
    color: #ff7060;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
}



body{
    padding-top: 62px;
    padding-bottom: 30px;
}



#categories{
    font-size: 20px;
}

#menu li a{
color:#000000;
}

#menu li a:hover, #login-button:hover, #signup-button:hover, #openCategories:hover, #postButton:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
#openAd:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);

}


@media(max-width: 730px){

.banner p{

    font-size: 25px;
    color:#2AAC86;
    position:relative;
    top:60px;
    width:350px;
    
    }
}


#searchResults{

}

.searchItem{
    width: 290px;
    height: 200px;
    box-shadow: 5px 15px 75px #888888;
    border-color: #C0D4C3;
    border-radius: 10px;
    border-width: medium;
    border-style: groove;
    text-align: center;
    padding: 10px;
    margin: 35px;
    background-color: #009591;

}

#searchItem div{
    border-color: #434343;

}

.searchItem:hover {
    border:2px solid #ff7060;  
    box-shadow: 0 0 10px #333;  
    -webkit-box-shadow: 0 0 10px #333;  
    -moz-box-shadow: 0 0 10px #333;  
    -o-box-shadow: 0 0 10px #333;  
    -ms-box-shadow: 0 0 10px #333;
}

.showMore, #comment{
    border-width: 1px;
    border-style: groove;
    border-color: black;
}

.pagination{
    text-align:center;
}

@media(max-width: 750px){

#searchResults{

    align-content: center;
    
    }
}

@media(max-width: 400px){

#searchResults{

    align-content: center;
    
    }
}

@media only screen and (min-width : 320px) {
    
}

.openAd{
    color: #ff7060;
    background-color: #434343;
}

#form {

    display: inline-block;
}


.adv-search{
    padding: 10px;
}

#advmodal{

    width:400px;
}

#menuContainer{

    width: 95%;
}

#searchForm{


}

#sidebar-wrapper{

margin-top: -12px;
}

#toggle{
    padding:15px;
}

#categoryDiv{

    padding-bottom: 20px;
}

.searchResultTitle
{


}

.showAdvert{
padding-top: 75px;

}


#postedBy{
    text-align: right;
    padding: 10px;
}

#postedBy p{
    color: #ff7060;
}

#messageBox{

    margin: 20px;
}

#comment{

    padding: 30px;
    padding-top: 15px;
    border-radius: 10px;
    border-color: #ff7060;
    background-color: #434343;
}

#comment p{
    color: #ff7060;
}
/* colours 
#009591 blueish
#ff7060 orangy
#434343 dark
*/

#adEdit{
    color: #ff7060;
}

#accountMenu{

    float: left;
    width: 300px;
    padding-top: 50px;
    position: fixed;
}


#searchAndAdvanced{

    display:inline-block;
}

#hamburger{
    float: right;
}

#myAds{

    padding-top: 50px;
}

#userContent{


}

.editButton {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

#adPanel{

max-width: 450px;
}

/* colours 
#009591 blueish
#ff7060 orangy
#434343 dark
*/

.panel-default>.panel-heading{

    background-color: #434343;
    border-color: #434343;
    color: #ff7060
}


#menuSelections a{
    color: #ff7060;
}

#adButtons button{
    background-color: #434343;
    border-color: #ff7060;
    color: #ff7060;
}

.panel-default {
    border-color: #434343; 
}

.panel-body a{
    color:#009591; 
}

.modal-header {
    background-color: #434343;
}

.modal-title{
    color: #ff7060;
}

.modal-footer{
    background-color: #434343;
}