html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.navbar-default{
    border: none;
    background-color: #2AAC86;
    margin-bottom: 100px;

}


.banner {
    height:200px;
    margin:auto;
    background: url("../img/book.png") repeat 0 0;
    background-position: center center;
    background-size: cover;
    margin-bottom: 50px;


}

.banner p {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 50px;
    color:#2AAC86;
    position:relative;
    top:60px;
    width:700px;
    padding:20px;
    background:#AEEDD7;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:20px;
    filter: alpha(opacity=50);
    opacity: 0.65;
    border-radius: 30px;
}

#login-button{

    background-color: #E9E9E9;
    margin-left: 10px;
}

#signup-button{
    background-color: #E9E9E9;
    margin-left: 10px;
}


#login-password{

    padding-bottom: 10px;

}

#login-username{

    margin-bottom: 20px;
}

#logindropdown{

    width: 300px;
}

#custombutton{
    background-color: #7EDFBD;
    margin-top: 10px;
 
}

#openCategories{


    background-color: #E9E9E9;
    
}

#postButton{

    background-color: #E9E9E9;

}

.navbar-brand{
    padding-left: 200px;
}

#registration form{

max-width: 300px;
padding-top:50px;
}



footer{
position:fixed;
    height:25px;
    background-color:#AEEDD7;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
}



body{
    padding-top: 50px;
    padding-bottom: 30px;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #7EDFBD;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #7EDFBD;
    display: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 11px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000000;
}


.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#categories{
    font-size: 20px;
}

#menu li a{
color:#000000;
}

#menu li a:hover, #login-button:hover, #signup-button:hover, #openCategories:hover, #postButton:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
#openAd:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);

}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    
    
}


@media(max-width: 730px){

.banner p{

    font-size: 25px;
    color:#2AAC86;
    position:relative;
    top:60px;
    width:350px;
    
    }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
blac
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#searchResults{

    padding-top: 50px;
}

.searchItem{
    width: 300px;
    height: 200px;
    box-shadow: 5px 15px 75px #888888;
    border-color: #C0D4C3;
    border-radius: 10px;
    border-width: medium;
    border-style: groove;
    text-align: center;
    padding: 10px;
    margin: 35px;
    background-color: #F3F8F6;

}

.searchItem:hover {
    border:2px solid red;  
    box-shadow: 0 0 10px #333;  
    -webkit-box-shadow: 0 0 10px #333;  
    -moz-box-shadow: 0 0 10px #333;  
    -o-box-shadow: 0 0 10px #333;  
    -ms-box-shadow: 0 0 10px #333;
}

.showMore, #comment{
    border-width: 1px;
    border-style: groove;
    border-color: black;
}

.pagination{
    text-align:center;
}

@media(max-width: 750px){

#searchResults{

    align-content: center;
    
    }
}

@media(max-width: 400px){

#searchResults{

    align-content: center;
    
    }
}

.openAd{
position:absolute;
bottom: 5px;
right: 5px;
text-decoration: none;
}

#form {

    display: inline-block;
}

#search{

    width: 250px;
    max-width: 250px;
}

#menuContainer{

    width: 95%;
}

#searchForm{

margin-bottom: -6px;
}

#sidebar-wrapper{

margin-top: -6px;
}

#toggle{
    padding:15px;
}

#categoryDiv{

    padding-bottom: 20px;
}

.searchResultTitle
{


}

.showAdvert{
padding-top: 75px;

}


#postedBy{
    text-align: right;
    padding: 10px;
}

#comment{

    padding: 30px;
    padding-top: 15px;
    border-radius: 10px;
    border-color: #AEEDD7;
}

#accountMenu{

    float: left;
    width: 300px;
    padding-top: 50px;
    position: fixed;
}


#searchAndAdvanced{

    display:inline-block;
}

#hamburger{
    float: right;
}

#myAds{

    padding-top: 50px;
}